@import "tailwindcss";

:root {
  --primary: #0fc7b8;
  --primary-dark: #20847c;
  --primary-faded: #cffff5;

  --secondary: #10a8e5;
  --tertiary: #429da8;

  --hover: #dbeafe;

  --background: #dff8fb;
  --card-background: #eaf4ff;
  --background-gradient: linear-gradient(to top, #eaf4ff, #cffff5);
  --foreground: #313131;

  --gray-light: #e5e7eb;
  --gray-dark: #636363;
}

html {
  color-scheme: light !important;
}

body {
  font-family: var(--font-nunito), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-faded: var(--primary-faded);

  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);

  --color-hover: var(--hover);

  --color-background: var(--background);
  --color-card-background: var(--card-background);

  --color-foreground: var(--foreground);

  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Custom scrollbar for Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 13px; /* Scrollbar width */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray-light); /* Track background color */
  border-radius: 8px; /* Make thumb more rounded */
}

::-webkit-scrollbar-thumb {
  background: var(--gray-dark); /* Thumb color */
  border-radius: 8px; /* Make thumb more rounded */
  border: 2px solid transparent; /* Add spacing */
  transition: background-color 0.8s ease; /* transisi warna */
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background: var(--foreground); /* Thumb color */
}
